<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formularz Pojazdu</title>
</head>
<body>
<h1 th:text="${vehicle.id == null} ? 'Dodaj Pojazd' : 'Edytuj Pojazd'">Formularz Pojazdu</h1>
<form th:action="@{/vehicles/save}" th:object="${vehicle}" method="post">
    <input type="hidden" th:field="*{user.id}" />
    <div>
        <label>Marka:</label>
        <input type="text" th:field="*{make}" />
    </div>
    <div>
        <label>Model:</label>
        <input type="text" th:field="*{model}" />
    </div>
    <div>
        <label>Rok:</label>
        <input type="number" th:field="*{year}" />
    </div>
    <div>
        <label>Numer Rejestracyjny:</label>
        <input type="text" th:field="*{registrationNumber}" />
    </div>
    <div>
        <button type="submit">Zapisz</button>
    </div>
</form>
<div th:if="${errorMessage}">
    <p style="color:red;" th:text="${errorMessage}"></p>
</div>
</body>
</html>
